/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #FFB827;
  --ifm-color-primary-dark: #e6a520;
  --ifm-color-primary-darker: #d9991e;
  --ifm-color-primary-darkest: #b37d18;
  --ifm-color-primary-light: #ffc340;
  --ifm-color-primary-lighter: #ffca54;
  --ifm-color-primary-lightest: #ffd677;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FFB827;
  --ifm-color-primary-dark: #e6a520;
  --ifm-color-primary-darker: #d9991e;
  --ifm-color-primary-darkest: #b37d18;
  --ifm-color-primary-light: #ffc340;
  --ifm-color-primary-lighter: #ffca54;
  --ifm-color-primary-lightest: #ffd677;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
